function updateStatusCallback(response){
}

$(document).ready(function() {
  $('body').prepend('<div id="fb-root"></div>')
  $.ajaxSetup({ cache: true });
  $.getScript('//connect.facebook.net/en_US/sdk.js', function(){
    FB.init({
      appId: '<%= ENV["FACEBOOK_ID"] %>',
      version: 'v2.7'
    });     
    $('#loginbutton,#feedbutton').removeAttr('disabled');
    FB.getLoginStatus(updateStatusCallback);
  });

  $('#sign_in').click(function(e){
  	e.preventDefault();
  	FB.login(function(response){
  		if (response.authResponse){
  			window.location = '/users/auth/facebook/'
  		}
  	})
  })

  // $('#sign_out').click(function(e){
  // 	FB.getLoginStatus(function(response){
  // 		if (response.authResponse){
  // 			FB.logout()
  // 		}
  // 	})
  // })
});